body{
    background:#dddddd;
}



header {
    width:960px;
    background:#ffffff;
    margin:0 auto; 
    overflow: hidden;
    border-bottom:1px solid #cccccc;
  }
  header h1{
      background:#4aaaa5;
      text-align:center;
      width:150px;
      float: left;
      
    }

    
nav{
    float:right;
}
nav button{
    border: none;
    padding: 10px 20px;
    border-right: 1px solid#cccccc;

}
h1{ padding: 20px 0;
    margin: 0;
    font-size: 28px;
    background:#4aaaa5;
    color: #ffffff;
    text-align: left;
    
}
#me {
    float: left;
  }
article{
   background:#ffffff;
   width: 940px;
   height:350px;
   margin: 20px auto 0;
   padding: 10px;
   
   
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 4px solid #dddddd;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
 background-color: #4aaaa5;
 color:#ffffff;
    
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: ;
}
p{
    color:#777777;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 940%;
    height: 50px;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
 }
 div.wrapper{
     margin: 0 auto;
     width: 60rem;
 }



input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color:#4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color:#282929;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  margin: auto;
}
img{ 
    width: 200px;
    height: 125px;

}
.family h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.family{
    position: relative;
}
.friends h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.friends{
    position: relative;
}
.Food h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.Food{
    position: relative;
}

.Memories h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.Memories{
    position: relative;
}
.Inspiration h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.Inspiration{
    position: relative;
}