body{
    background:#dddddd;
}



header {
    width:960px;
    background:#ffffff;
    margin:0 auto; 
    overflow: hidden;
    border-bottom:1px solid #cccccc;
  }
  header h1{
      background:#4aaaa5;
      text-align:center;
      width:150px;
      float: left;
      
    }

    
nav{
    float:right;
}
nav button{
    border: none;
    padding: 10px 20px;
    border-right: 1px solid#cccccc;

}
h1{ padding: 20px 0;
    margin: 0;
    font-size: 28px;
    background:#4aaaa5;
    color: #ffffff;
    text-align: left;
    
}
#me {
    float: left;
  }
article{
   background:#ffffff;
   width: 940px;
   height:350px;
   margin: 20px auto 0;
   padding: 10px;
   
   
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 4px solid #dddddd;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
 background-color: #4aaaa5;
 color:#ffffff;
    
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: ;
}
p{
    color:#777777;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 940%;
    height: 50px;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
 }
 div.wrapper{
     margin: 0 auto;
     width: 60rem;
 }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#282929;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  margin: auto;
}
img{ 
    width: 200px;
    height: 125px;

}
.family h3{
    margin-top:0;
    position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
}
.family{
    position: relative;
}